@import url(root.css);


.general-content-about-us{
  /*  DESBLOQUEANDO PRA ALINHAR A DIV DE TITULO NO MEIO */

  padding-top: 2.4rem;

  /* justify-content: center; */
  align-items: center;
}
.about-us-general-content{
  text-align: center;
  /*  DESBLOQUEANDO PRA ALINHAR A DIV DE TITULO NO MEIO */
  display: flex;

  padding-top: 2.4rem;

  /* justify-content: center; */
}

.about-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title{
  width: max-content;
  margin-bottom: 4rem;
}

.about-h1-title{
  color: var(--primary-color);
  font-size: 5.2rem;
  border-bottom: 1px solid var(--primary-color);
}

.credfacil-image{
  margin-top: 4rem;

  border-radius: 15px;
  
  width: 68.2rem;
  height: 41.4rem;
}

.h2-title-resume{
  font-size: 3.6rem;
  font-weight: bold;
  
  color: var(--primary-color);

}

.h2-title-resume{
  transform: translateY(5rem);
  margin-left: 3.7rem;
}

.text-business{
  color: #495057;
  margin-top: 8rem;
  margin-left: 3.7rem;
}