@import url(root.css);

/* TITULO DO MENU */
*{
  padding: 0;
  margin: 0;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  margin: 0;
}

.sticky .a-list, 
.sticky .menu-header-title-strong,
.sticky strong{
  color: white;
  z-index: 999;
  margin: 0;
}

.sticky .btn-contactus {
  border-color: #fff;
}

.sticky .btn-contactus a {
  color: #fff;
}

.menu-header-title-strong ,strong{
  color: var(--primary-color);
  font-size: 2.2rem;
}

.sticky + .content {
  padding-top: 102px;
}

/* MENU DE NAVEGAÇÃO */

.general-menu{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: sticky;

  /* margin: 0 85px 0 85px; */

}

.title-header-logo{
  text-decoration: none;
}


.a-list{
  padding: 28px 22px 28px 22px;

  text-decoration: none;
  color: var(--primary-color);

  transition: .6s;

}

.a-list:hover{
  background-color: #fff;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 0px;
  box-shadow: .1px .5px 5px black;

  transition: 0.3s;
  color: var(--secondary-color);
}

.ordened-list-style {
  display: flex;

  list-style: none;

  /* gap: 2rem; */
}

.btn-contactus{
  padding: 8px 16px 8px 16px;

  border-radius: 40px;
  border: 1px solid var(--primary-color);

  background-color: rgb(255,255,255,0);
  color: var(--primary-color);
  
  font-weight: bold;
  transition: .7s;

}

.btn-contactus:hover{
  transition: .7s;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.btn-contactus:hover a{
  transition: .7s;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}


.btn-contactus a{
  text-decoration: none;
  color: var(--primary-color);
}

.menu-bar-slide-hidden{
  visibility: hidden;
  position: absolute;
}

@media(max-width: 320px) {
  .general-menu{
    align-items: center;
    justify-content: space-between;
  }

  .a-list{
    visibility: hidden;
    position: absolute;
  }

  .btn-contactus{
    visibility: hidden;
    position: absolute;
  }

  .menu-bar-slide-hidden{
    visibility: visible;
    position: relative;
    display: flex;
  }
  
}