@charset "UTF-8";
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap'); /* FONTE DM SANS IGUAL A DO FIGMA, USANDO UMA API CSS DO GOOGLE */

:root{
  font-size: 65.5%; /*  AJUDANDO A RESPONSIVIDADE DO SITE E PORTABILIDADE PRA MOBILE  */
  font-family: DM Sans;
}

html{
  scroll-behavior: smooth;
  
}

*{
  font-size: 1.6rem;
  --primary-color: #00994f;
  --secondary-color: #e57227;
  --primary-background-color: #DDDDDD;
}

.light-default{
  background-color: var(--primary-background-color);
}

/* tamanho */
::-webkit-scrollbar {
  width: 10px;

}

/* Fundo */
::-webkit-scrollbar-track {
  background: rgb(0,0,0,0);
  
}

/* Bar */
::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 79, .8);
  border-radius: 10px;
}

/* Bar ao tocar */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 134, 69, .8);
}

.no-decoration{
  text-decoration: none;
}

footer{
  background-color: var(--primary-color);
  height: 16rem;
}

/*  AVISO */
/*  COLOCO ANOTAÇÕES NO CÓDIGO PRA FÁCIL COMPREENSÃO MINHA E DAS OUTRAS PESSOAS  */
/*  ALGUMAS N COLOCO POR CONTA QUE SÃO OBVIAS DEMAIS, POR CONTA DISSO EM ALGUNS CASO VÃO ESTAR SEM  */